<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a User</title>
</head>
<body>
<form action="#" th:action="@{/create}" th:object="${user}" method="post">
    <label for="firstName"></label>
    <input type="text" th:field="${user.firstName}" id="firstName" placeholder="First Name">
    <label for="lastName"></label>
    <input type="text" th:field="${user.lastName}" id="lastName" placeholder="Last Name">
    <label for="email"></label>
    <input type="text" th:field="${user.email}" id="email" placeholder="Email">
    <input type="submit" value="Create User">
</form>
</body>
</html>